<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">

  <div class="left">
    <%= link_to root_path, class: "navbar-brand" do %>
      <div class="logo">
        <h1>Solid'île</h1>
      </div>
    <% end %>
  </div>



  <div class="right">

    <ul class="navbar-nav mr-auto">
      <div class="general">
        <li class="nav-item active example">
          <%= link_to "Tous les commerçants", commerces_path, class: "nav-link hover hover-3" %>
        </li>
        <li class="nav-item active example">
          <%= link_to "Produits locaux", locaux_commerces_path, class: "nav-link hover hover-3" %>
        </li>
        <li class="nav-item active example">
          <%= link_to "Artisanat", artisanat_commerces_path, class: "nav-link hover hover-3" %>
        </li>
        <li class="nav-item active example">
          <%= link_to "Gastronomie", gastronomie_commerces_path, class: "nav-link hover hover-3" %>
        </li>
        <li class="nav-item active example">
          <%= link_to "Décoration", decoration_commerces_path, class: "nav-link hover hover-3" %>
        </li>
        <li class="nav-item active example">
          <%= link_to "Beauté", beaute_commerces_path, class: "nav-link hover hover-3" %>
        </li>
        <li class="nav-item active example">
          <%= link_to "Enfance", enfance_commerces_path, class: "nav-link hover hover-3" %>
        </li>
        <li class="nav-item active example">
          <%= link_to "Mode", mode_commerces_path, class: "nav-link hover hover-3" %>
        </li>
        <li class="nav-item active example">
          <%= link_to "Sport", sport_commerces_path, class: "nav-link hover hover-3" %>
        </li>
        <li class="nav-item active example">
          <%= link_to "Loisirs", loisirs_commerces_path, class: "nav-link hover hover-3" %>
        </li>
        <li class="nav-item active example">
          <%= link_to "Papeterie", papeterie_commerces_path, class: "nav-link hover hover-3" %>
        </li>
      </div>
    </ul>

    <div id="menu">
      <i class="fas fa-bars"></i>
    </div>



<!--     <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="dropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <span class="navbar-toggler-icon" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true"></span>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <%= link_to "Tous les commerçants", commerces_path, class: "dropdown-item" %>
              <%= link_to "Produits locaux", locaux_commerces_path, class: "dropdown-item" %>
              <%= link_to "Artisanat", artisanat_commerces_path, class: "dropdown-item" %>
              <%= link_to "Gastronomie", gastronomie_commerces_path, class: "dropdown-item" %>
              <%= link_to "Décoration", decoration_commerces_path, class: "dropdown-item" %>
              <%= link_to "Beauté", beaute_commerces_path, class: "dropdown-item" %>
              <%= link_to "Enfance", enfance_commerces_path, class: "dropdown-item" %>
              <%= link_to "Mode", mode_commerces_path, class: "dropdown-item" %>
              <%= link_to "Sport", sport_commerces_path, class: "dropdown-item" %>
              <%= link_to "Loisirs", loisirs_commerces_path, class: "dropdown-item" %>
              <%= link_to "Papeterie", papeterie_commerces_path, class: "dropdown-item" %>
            </div>
           </li>
        </ul>
      </div>
    </div> -->


  </div>
</div>
