<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">

  <div class="left">
    <%= link_to root_path, class: "navbar-brand" do %>
      <div class="logo">
        <%= cl_image_tag("125209746_354321785869558_3267975156057576213_n_ktdgj3") %>
        <div class="d-flex">
          <h1>Solid'île</h1>
          <p>Belle-Île-En-Mer</p>
        </div>
      </div>
    <% end %>
  </div>



  <div class="right">

    <ul class="navbar-nav mr-auto">
      <div class="general">
        <li class="nav-item active example">
          <%= link_to "Tous les commerçants", commerces_path, class: "nav-link hover hover-3" %>
        </li>
        <li class="nav-item active example">
          <%= link_to "Produits locaux", locaux_commerces_path, class: "nav-link hover hover-3" %>
        </li>
        <li class="nav-item active example">
          <%= link_to "Artisanat", artisanat_commerces_path, class: "nav-link hover hover-3" %>
        </li>
        <li class="nav-item active example">
          <%= link_to "Gastronomie", gastronomie_commerces_path, class: "nav-link hover hover-3" %>
        </li>
        <li class="nav-item active example">
          <%= link_to "Décoration", decoration_commerces_path, class: "nav-link hover hover-3" %>
        </li>
        <li class="nav-item active example">
          <%= link_to "Beauté", beaute_commerces_path, class: "nav-link hover hover-3" %>
        </li>
        <li class="nav-item active example">
          <%= link_to "Enfance", enfance_commerces_path, class: "nav-link hover hover-3" %>
        </li>
        <li class="nav-item active example">
          <%= link_to "Mode", mode_commerces_path, class: "nav-link hover hover-3" %>
        </li>
        <li class="nav-item active example">
          <%= link_to "Sport", sport_commerces_path, class: "nav-link hover hover-3" %>
        </li>
        <li class="nav-item active example">
          <%= link_to "Loisirs", loisirs_commerces_path, class: "nav-link hover hover-3" %>
        </li>
        <li class="nav-item active example">
          <%= link_to "Papeterie", papeterie_commerces_path, class: "nav-link hover hover-3" %>
        </li>
      </div>
    </ul>

    <div id="menu">
      <i class="fas fa-bars"></i>
    </div>


  </div>

</div>




<div id="mobile-menu" class="invisible">
  <ul>
    <li class="mobile-menu-item" id="tous">
      <%= link_to "Tous les commerçants", commerces_path, class: "mobile-menu-item", id: "tous"%>
    </li>
    <li class="mobile-menu-item">
      <%= link_to "Produits locaux", locaux_commerces_path, class: "mobile-menu-item" %>
    </li>
    <li class="mobile-menu-item">
      <%= link_to "Artisanat", artisanat_commerces_path, class: "mobile-menu-item" %>
    </li>
    <li class="mobile-menu-item">
      <%= link_to "Gastronomie", gastronomie_commerces_path, class: "mobile-menu-item" %>
    </li>
    <li class="mobile-menu-item">
      <%= link_to "Décoration", decoration_commerces_path, class: "mobile-menu-item" %>
    </li>
    <li class="mobile-menu-item">
      <%= link_to "Beauté", beaute_commerces_path, class: "mobile-menu-item" %>
    </li>
    <li class="mobile-menu-item">
      <%= link_to "Enfance", enfance_commerces_path, class: "mobile-menu-item" %>
    </li>
    <li class="mobile-menu-item">
      <%= link_to "Mode", mode_commerces_path, class: "mobile-menu-item" %>
    </li>
    <li class="mobile-menu-item">
      <%= link_to "Sport", sport_commerces_path, class: "mobile-menu-item" %>
    </li>
    <li class="mobile-menu-item">
      <%= link_to "Loisirs", loisirs_commerces_path, class: "mobile-menu-item" %>
    </li>
    <li class="mobile-menu-item">
      <%= link_to "Papeterie", papeterie_commerces_path, class: "mobile-menu-item" %>
    </li>
  </ul>
</div>
