<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">

  <div class="left">
    <%= link_to root_path, class: "navbar-brand" do %>
      <div class="logo">
        <h1>Solid'île</h1>
      </div>
    <% end %>
  </div>



  <div class="right">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <ul class="navbar-nav mr-auto">
      <div class="general">
        <li class="nav-item active">
          <%= link_to "Tous les commerçants", commerces_path, class: "nav-link" %>
        </li>
        <li class="nav-item active">
          <%= link_to "Produits locaux", locaux_commerces_path, class: "nav-link" %>
        </li>
        <li class="nav-item active">
          <%= link_to "Artisanat", artisanat_commerces_path, class: "nav-link" %>
        </li>
        <li class="nav-item active">
          <%= link_to "Décoration", decoration_commerces_path, class: "nav-link" %>
        </li>
        <li class="nav-item active">
          <%= link_to "Beauté", beaute_commerces_path, class: "nav-link" %>
        </li>
        <li class="nav-item active">
          <%= link_to "Enfance", enfance_commerces_path, class: "nav-link" %>
        </li>
        <li class="nav-item active">
          <%= link_to "Mode", mode_commerces_path, class: "nav-link" %>
        </li>
        <li class="nav-item active">
          <%= link_to "Sport", sport_commerces_path, class: "nav-link" %>
        </li>
        <li class="nav-item active">
          <%= link_to "Loisirs", loisirs_commerces_path, class: "nav-link" %>
        </li>
        <li class="nav-item active">
          <%= link_to "Papeterie", papeterie_commerces_path, class: "nav-link" %>
        </li>

      </div>
    </ul>
  </div>
</div>
