 <div class="d-flex align-items-center justify-content-between">

   <h1 style="font-weight: 800">Beauté</h1>

   <div class="forms">

     <form class="simple_form search" method="get" url='commerces_path' role='search'>
       <!-- <input name="utf8" type="hidden" value="&#x2713;" /> -->
       <div class="search-form-control form-group d-flex" id="search-bar">
         <input class="form-control string required" type="text" name="search" id="search_term" placeholder="Recherche..." aria-expanded="false" dir="auto" role="combobox"/>
         <button name="button" type="submit" class="btn btn-flat">
           <i class="fas fa-search"></i>
         </button>
       </div>
     </form>


     <form method='get' url='commerces_path' role='search' class='d-flex align-items-center' id="eshop-filter">
       <input type="checkbox" id="cbx" style="display:none" onChange='submit();' name='eshop'/>
       <label for="cbx" class="toggle"><span></span></label>
       <p>Avec e-shop</p>
     </form>

   </div>

 </div>



 <div class="centering">

   <div class="shop-grid">

     <% @commerces.each do |commerce| %>
       <div class="shop-card">
         <p class="name"><%= commerce.name %></p>
         <div class="tags">
           <% commerce.tag.split(",").each do |x| %>
             <p class="tag"><%= x %></p>
           <% end %>
         </div>
         <%= cl_image_tag commerce.photo.key %>
         <p class="description"><%= commerce.description %></p>
         <div class="centering">
           <%= link_to "Voir les détails", commerce_path(commerce), class: "site-button" %>
         </div>
       </div>
     <% end %>

   </div>

 </div>
