<h1 style="font-weight: 800">Tous les commerces</h1>
<div class="centering">
  <div class="shop-grid">
    <% @commerces.each do |commerce| %>
      <div class="shop-card">
        <div class="top-card">
          <p class="name"><%= commerce.name %></p>
          <p class="tag"><%= commerce.tag %></p>
        </div>
        <%= cl_image_tag commerce.photo.key %>
        <p class="description"><%= commerce.description %></p>
        <div class="centering">
          <%= link_to "Voir les détails", commerce_path(commerce), class: "site-button" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
