<div class="shop-infos">
  <div>
    <h1><%= @commerce.name %></h1>
    <p><%= @commerce.address %></p>
  </div>
  <div class="d-flex justify-content-space">
    <div class="owner-infos">
      <h3>PROPRIÉTAIRE</h3>
      <p><%= @commerce.owner.pseudo %></p>
      <!-- <p><%= @commerce.owner.description %></p> -->
    </div>
    <img class="avatar" src="https://oasys.ch/wp-content/uploads/2019/03/photo-avatar-profil.png" alt="">
  </div>
</div>



<div class="big-shop-card d-flex">

  <%= cl_image_tag @commerce.photo.key, id: "shop-pic" %>

  <div class="right-card">

    <p class="tag"><%= @commerce.tag %></p>
    <p><%= @commerce.description %></p>

    <div class="top-border">
      <h3>SOUTENIR LA BOUTIQUE</h3>
      <p><%= @commerce.support %></p>
      <br>
      <p>Paiement : <%= @commerce.payment %></p>
    </div>


    <div class="top-border">
      <h3>CONTACT</h3>
      <p><i class="fas fa-phone-alt"></i>  <%= @commerce.tel %></p>
      <p><i class="fas fa-envelope"></i>  <%= @commerce.mail %></p>
    </div>

  </div>
</div>

<div class="centering">
  <a class="site-button big" target="_blank" href=<%= @commerce.website %>>Vers le site</a>
</div>
